body {
    background-color: #000;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #7901aa;
}

.container {
}

.footer {
    height: 100px;
    background-color: #ffd300;
}
.header .navigation, .header .navigation li {
    list-style: none;
    margin: 0;
    padding: 10px 15px;
}
.header .navigation {
    text-align: center;
}
.header .navigation li {
    display: inline;
    margin-right: .75em;
}
.header .navigation li.last {
    margin-right: 0;
}
