body {
    background-color: #181717;
    background-image: url('images/background.jpg')
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
    color: #eee;
}
.main-container {
    margin: auto;
    width: 987px;
}
.header {
    text-align: center;
}
#header-image {
    margin-top: 10px;
}
#top-left-image {
    position: absolute;
    left: 0;
    top: 0;
}
#top-right-image {
    position: absolute;
    right: 0;
    top: 0;
}
.container {
    position: relative;
    z-index: 30;
    padding-bottom: 40px;
    padding-top: 30px;
}
.image-block {
    float: left;
    height: 200px;
    width: 300px;
    margin-left: 10px;
    padding: 10px;
    background-color: #eee;
}
.navigation, .navigation li {
    list-style: none;
    margin: 0;
    padding: 15px 5px;
}
.navigation {
    text-align: center;
    margin: 10px;
    padding-top: 120px;
}
.navigation li a {
    display: inline-block;
    background-repeat: no-repeat;
    height: 29px;
}
.home_nav {
    background-image: url('images/Home.png');
    width: 94px;
}
.gigs_nav {
    background-image: url('images/Gigs.png');
    width: 70px;
}
.photo_nav {
    background-image: url('images/Photos.png');
    width: 128px;
}
.video_nav {
    background-image: url('images/Videos.png');
    width: 119px;
}
.music_nav {
    background-image: url('images/Music.png');
    width: 100px;
}
.info_nav {
    background-image: url('images/Info.png');
    width: 76px;
}
.store_nav {
    background-image: url('images/Store.png');
    width: 103px;
}
.navigation li {
    display: inline;
    margin-right: .75em;
}
.navigation li.last {
    margin-right: 0;
}
.footer {
    z-index: 40;
    height: 20px;
    background-color: #968c28;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
#joe {
    background-image: url('Images/Joe_bottom_left.png');
    background-repeat: no-repeat;
    height: 350px;
    width: 185px;
    position: fixed;
    bottom: 20px;
    left: 0px;
}
#sean {
    background-image: url('Images/Sean_Bottom_Right.png');
    background-repeat: no-repeat;
    height: 300px;
    width: 250px;
    position: fixed;
    bottom: 20px;
    right: 0px;
}
