body {
    background-color: #f2ed9e;
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
}
.main-container {
    margin: auto;
    width: 887px;
}
.header {
    text-align: center;
}
#top-left-image {
    position: absolute;
    left: 0;
    top: 0;
}
#top-right-image {
    position: absolute;
    right: 0;
    top: 0;
}
.container {
    position: relative;
    z-index: 30;
    padding-bottom: 40px;
}
.image-block {
    float: left;
    height: 200px;
    width: 300px;
    margin-left: 10px;
    padding: 10px;
    background-color: #eee;
}
.navigation, .navigation li {
    list-style: none;
    margin: 0;
    padding: 10px 15px;
}
.navigation {
    text-align: center;
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    margin-top: 10px;
}
.navigation li {
    display: inline;
    margin-right: .75em;
}
.navigation li.last {
    margin-right: 0;
}
.footer {
    z-index: 40;
    height: 20px;
    background-color: #968c28;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
#joe {
    background-image: url('Images/Joe_bottom_left.png');
    background-repeat: no-repeat;
    height: 350px;
    width: 185px;
    position: fixed;
    bottom: 20px;
    left: 0px;
}
#sean {
    background-image: url('Images/Sean_Bottom_Right.png');
    background-repeat: no-repeat;
    height: 300px;
    width: 250px;
    position: fixed;
    bottom: 20px;
    right: 0px;
}
